<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teams</title>
  </head>
  <body>

    <h2>Here are our teams: </h2>

    <ul>
    <% @teams.each do |team| %>
      <li>Team Name: <%= team.name %></li>
      <li>Team Motto: <%= team.motto %></li><br>
    <% end %>
  </ul>


  </body>
</html>
